.jumbotron {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #f5eedc;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #002366;
  padding-top: 3rem;
}

nav {
  padding-top: 20%;
  background-color: #ffffff;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

#contact {
  background-color: #f5eedc;
}

#gallery {
  padding-bottom: 3rem;
}
