.jumbotron {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #3f5680;
  padding-top: 3rem;
}

nav {
  background-color: #3f5680;
}
